#root {
  height: 800px;
  width: 800px;
  border: 2px solid black;
  margin: 0 auto;
  position: relative;
}
#ball {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
}
